.home {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .home-info {
    width: 60%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    .cta {
      display: inline-block;
      background-color: #2911dc;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
    }

    .cta:hover {
      background-color: #0062cc;
    }
  }

  .login {
    width: 40%;
    height: inherit;
    margin: 10px;

    .text-right.forget-pass a {
      font-size: 12px;
      color: #d39e00;
      text-decoration: none;
    }

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;

      .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 0;
      }

      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;

        .form-group {
          margin-bottom: 1rem;

          label {
            display: inline-block;
            margin-bottom: .5rem;
          }
        }
      }

    }
  }
}

.data-body {
  margin-top: 3rem !important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.form-control {
  display: block;
  width: 90%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}