<div style="margin: 20px;">
    <div class="nav-bar">
        <nav>
            <li (click)="selectCard('contact')" [class.selected-card]="selectedCard === 'contact'"><a>Contact
                    Information</a></li>
            <li (click)="selectCard('help')" [class.selected-card]="selectedCard === 'help'"><a>Help Center or Knowledge
                    Base</a></li>
            <li (click)="selectCard('claims')" [class.selected-card]="selectedCard === 'claims'"><a>Claims Process and
                    Forms</a></li>
            <li (click)="selectCard('payment')" [class.selected-card]="selectedCard === 'payment'"><a>Payment
                    Options</a></li>
        </nav>
    </div>
    <div>
        <div id="payment-screen" class="payment-info" style="height: 100%; overflow: auto;">
            <div class="screen flex-center">
                <form class="popup flex p-lg">
                    <div class="flex-fill flex-vertical">
                        <div class="header flex-between flex-vertical-center">
                            <div class="flex-vertical-center">
                                <i class="ai-bitcoin-fill size-xl pr-sm f-main-color"></i>
                                <span class="title">
                                    <strong>AceCoin</strong><span>Pay</span>
                                </span>
                            </div>
                            <div class="timer" data-id="timer">
                                <span>0</span><span>5</span>
                                <em>:</em>
                                <span>0</span><span>0</span>
                            </div>
                        </div>
                        <div class="card-data flex-fill flex-vertical">
                            <div class="flex-between flex-vertical-center">
                                <div class="card-property-title">
                                    <strong>Card Number</strong>
                                    <span>Enter 16-digit card number on the card</span>
                                </div>
                            </div>
                            <div class="flex-between">
                                <div class="card-number flex-vertical-center flex-fill">
                                    <div class="card-number-field flex-vertical-center flex-fill">


                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px"
                                            height="24px">
                                            <path fill="#ff9800" d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z" />
                                            <path fill="#d50000" d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z" />
                                            <path fill="#ff3d00"
                                                d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z" />
                                        </svg>

                                        <input class="numbers" type="number" min="1" max="9999" placeholder="0000">-
                                        <input class="numbers" type="number" placeholder="0000">-
                                        <input class="numbers" type="number" placeholder="0000">-
                                        <input class="numbers" type="number" placeholder="0000"
                                            data-bound="carddigits_mock" data-def="0000">
                                    </div>
                                    <i class="ai-circle-check-fill size-lg f-main-color"></i>
                                </div>
                            </div>
                            <div class="flex-between">
                                <div class="card-property-title">
                                    <strong>Expiry Date</strong>
                                    <span>Enter the expiration date of the card</span>
                                </div>
                                <div class="card-property-value flex-vertical-center">
                                    <div class="input-container half-width">
                                        <input class="numbers" data-bound="mm_mock" data-def="00" type="number" min="1"
                                            max="12" step="1" placeholder="MM">
                                    </div>
                                    <span class="m-md">/</span>
                                    <div class="input-container half-width">
                                        <input class="numbers" data-bound="yy_mock" data-def="01" type="number" min="23"
                                            max="99" step="1" placeholder="YY">
                                    </div>
                                </div>
                            </div>
                            <div class="flex-between">
                                <div class="card-property-title">
                                    <strong>CVC Number</strong>
                                    <span>Enter card verification code from the back of the card</span>
                                </div>
                                <div class="card-property-value">
                                    <div class="input-container">
                                        <input id="cvc" type="password" placeholder="CVV">
                                        <i id="cvc_toggler" data-target="cvc" class="ai-eye-open pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-between">
                                <div class="card-property-title">
                                    <strong>Cardholder Name</strong>
                                    <span>Enter cardholder's name</span>
                                </div>
                                <div class="card-property-value">
                                    <div class="input-container">
                                        <input id="name" data-bound="name_mock" data-def="Mr. Cardholder" type="text"
                                            class="uppercase" placeholder="CARDHOLDER NAME">
                                        <i class="ai-person"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action flex-center" style="background: #2979FF; width: 30%; margin-left: 30%;">
                            <button type="button" class="b-main-color pointer">Pay Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="support-screen" class="contact-info">
            <div class="support-card">
                <h2>Contact Information</h2>
                <p>Please use the following information to get in touch with our customer support team:</p>
                <ul>
                    <li>Phone: 1-800-123-4567</li>
                    <li>Email: support@ourcompany.com</li>
                    <li>Address: 123 Main St, Anytown, USA</li>
                </ul>
            </div>
        </div>
    </div>
</div>